<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserRegister</servlet-name>
  	<display-name>UserRegister</display-name>
  	<description></description>
  	<servlet-class>usercontroller.UserRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCategory</servlet-name>
  	<display-name>AddCategory</display-name>
  	<description></description>
  	<servlet-class>category.AddCategory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProduct</servlet-name>
  	<display-name>AddProduct</display-name>
  	<description></description>
  	<servlet-class>products.AddProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddWishlist</servlet-name>
  	<display-name>AddWishlist</display-name>
  	<description></description>
  	<servlet-class>wishlist.AddWishlist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCart</servlet-name>
  	<display-name>AddCart</display-name>
  	<description></description>
  	<servlet-class>cart.AddCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddShipping</servlet-name>
  	<display-name>AddShipping</display-name>
  	<description></description>
  	<servlet-class>orders.AddShipping</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatecart</servlet-name>
  	<display-name>updatecart</display-name>
  	<description></description>
  	<servlet-class>cart.updatecart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Orders</servlet-name>
  	<display-name>Orders</display-name>
  	<description></description>
  	<servlet-class>orders.Orders</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>orderactive</servlet-name>
  	<display-name>orderactive</display-name>
  	<description></description>
  	<servlet-class>orders.orderactive</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ordershipping</servlet-name>
  	<display-name>ordershipping</display-name>
  	<description></description>
  	<servlet-class>orders.ordershipping</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>orderdeliverd</servlet-name>
  	<display-name>orderdeliverd</display-name>
  	<description></description>
  	<servlet-class>orders.orderdeliverd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cancelorder</servlet-name>
  	<display-name>cancelorder</display-name>
  	<description></description>
  	<servlet-class>orders.cancelorder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserSubscribe</servlet-name>
  	<display-name>UserSubscribe</display-name>
  	<description></description>
  	<servlet-class>subscribe.UserSubscribe</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>orderdetails</servlet-name>
  	<display-name>orderdetails</display-name>
  	<description></description>
  	<servlet-class>orders.orderdetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductSearch</servlet-name>
  	<display-name>ProductSearch</display-name>
  	<description></description>
  	<servlet-class>products.ProductSearch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserContact</servlet-name>
  	<display-name>UserContact</display-name>
  	<description></description>
  	<servlet-class>contact.UserContact</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSubscribe</servlet-name>
  	<display-name>DeleteSubscribe</display-name>
  	<description></description>
  	<servlet-class>subscribe.DeleteSubscribe</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserForgotPassword</servlet-name>
  	<display-name>UserForgotPassword</display-name>
  	<description></description>
  	<servlet-class>usercontroller.UserForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserOtp</servlet-name>
  	<display-name>UserOtp</display-name>
  	<description></description>
  	<servlet-class>usercontroller.UserOtp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewPassword</servlet-name>
  	<display-name>NewPassword</display-name>
  	<description></description>
  	<servlet-class>usercontroller.NewPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteWishlist</servlet-name>
  	<display-name>DeleteWishlist</display-name>
  	<description></description>
  	<servlet-class>wishlist.DeleteWishlist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCart</servlet-name>
  	<display-name>DeleteCart</display-name>
  	<description></description>
  	<servlet-class>cart.DeleteCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>trackorder</servlet-name>
  	<display-name>trackorder</display-name>
  	<description></description>
  	<servlet-class>orders.trackorder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacebookLoginServlet</servlet-name>
  	<display-name>FacebookLoginServlet</display-name>
  	<description></description>
  	<servlet-class>FacebookLogin.FacebookLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacebookCallbackServlet</servlet-name>
  	<display-name>FacebookCallbackServlet</display-name>
  	<description></description>
  	<servlet-class>FacebookLogin.FacebookCallbackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeam</servlet-name>
  	<display-name>AddTeam</display-name>
  	<description></description>
  	<servlet-class>team.AddTeam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmOrder</servlet-name>
  	<display-name>ConfirmOrder</display-name>
  	<description></description>
  	<servlet-class>orders.ConfirmOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditUserAddress</servlet-name>
  	<display-name>EditUserAddress</display-name>
  	<description></description>
  	<servlet-class>usercontroller.EditUserAddress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddReview</servlet-name>
  	<display-name>AddReview</display-name>
  	<description></description>
  	<servlet-class>review.AddReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownlodeOrder</servlet-name>
  	<display-name>DownlodeOrder</display-name>
  	<description></description>
  	<servlet-class>orders.DownlodeOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReplayMessage</servlet-name>
  	<display-name>ReplayMessage</display-name>
  	<description></description>
  	<servlet-class>contact.ReplayMessage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSlider</servlet-name>
  	<display-name>AddSlider</display-name>
  	<description></description>
  	<servlet-class>slider.AddSlider</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSlider</servlet-name>
  	<display-name>DeleteSlider</display-name>
  	<description></description>
  	<servlet-class>slider.DeleteSlider</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>applyDiscount</servlet-name>
  	<display-name>applyDiscount</display-name>
  	<description></description>
  	<servlet-class>Discount.applyDiscount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCoupon</servlet-name>
  	<display-name>AddCoupon</display-name>
  	<description></description>
  	<servlet-class>coupon.AddCoupon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletecoupon</servlet-name>
  	<display-name>deletecoupon</display-name>
  	<description></description>
  	<servlet-class>coupon.deletecoupon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>admincontroller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CouponDelete</servlet-name>
  	<display-name>CouponDelete</display-name>
  	<description></description>
  	<servlet-class>coupon.CouponDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>invoice</servlet-name>
  	<display-name>invoice</display-name>
  	<description></description>
  	<servlet-class>invoice.invoice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PdfConverter</servlet-name>
  	<display-name>PdfConverter</display-name>
  	<description></description>
  	<servlet-class>invoice.PdfConverter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProduct</servlet-name>
  	<display-name>EditProduct</display-name>
  	<description></description>
  	<servlet-class>products.EditProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProduct</servlet-name>
  	<display-name>DeleteProduct</display-name>
  	<description></description>
  	<servlet-class>products.DeleteProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCategory</servlet-name>
  	<display-name>DeleteCategory</display-name>
  	<description></description>
  	<servlet-class>category.DeleteCategory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditCategory</servlet-name>
  	<display-name>EditCategory</display-name>
  	<description></description>
  	<servlet-class>category.EditCategory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteReview</servlet-name>
  	<display-name>DeleteReview</display-name>
  	<description></description>
  	<servlet-class>review.DeleteReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteTeam</servlet-name>
  	<display-name>DeleteTeam</display-name>
  	<description></description>
  	<servlet-class>team.DeleteTeam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditTeam</servlet-name>
  	<display-name>EditTeam</display-name>
  	<description></description>
  	<servlet-class>team.EditTeam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditSlider</servlet-name>
  	<display-name>EditSlider</display-name>
  	<description></description>
  	<servlet-class>slider.EditSlider</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminReset</servlet-name>
  	<display-name>AdminReset</display-name>
  	<description></description>
  	<servlet-class>admincontroller.AdminReset</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminValidateOtp</servlet-name>
  	<display-name>AdminValidateOtp</display-name>
  	<description></description>
  	<servlet-class>admincontroller.AdminValidateOtp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminNewPassword</servlet-name>
  	<display-name>AdminNewPassword</display-name>
  	<description></description>
  	<servlet-class>admincontroller.AdminNewPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateprofile</servlet-name>
  	<display-name>updateprofile</display-name>
  	<description></description>
  	<servlet-class>admincontroller.updateprofile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderFilter</servlet-name>
  	<display-name>OrderFilter</display-name>
  	<description></description>
  	<servlet-class>orders.OrderFilter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderNumber</servlet-name>
  	<display-name>OrderNumber</display-name>
  	<description></description>
  	<servlet-class>orders.OrderNumber</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegister</servlet-name>
  	<url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCategory</servlet-name>
  	<url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProduct</servlet-name>
  	<url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddWishlist</servlet-name>
  	<url-pattern>/AddWishlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCart</servlet-name>
  	<url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddShipping</servlet-name>
  	<url-pattern>/AddShipping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatecart</servlet-name>
  	<url-pattern>/updatecart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Orders</servlet-name>
  	<url-pattern>/Orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>orderactive</servlet-name>
  	<url-pattern>/orderactive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ordershipping</servlet-name>
  	<url-pattern>/ordershipping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>orderdeliverd</servlet-name>
  	<url-pattern>/orderdeliverd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cancelorder</servlet-name>
  	<url-pattern>/cancelorder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserSubscribe</servlet-name>
  	<url-pattern>/UserSubscribe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>orderdetails</servlet-name>
  	<url-pattern>/orderdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductSearch</servlet-name>
  	<url-pattern>/ProductSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserContact</servlet-name>
  	<url-pattern>/UserContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSubscribe</servlet-name>
  	<url-pattern>/DeleteSubscribe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserForgotPassword</servlet-name>
  	<url-pattern>/UserForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserOtp</servlet-name>
  	<url-pattern>/UserOtp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewPassword</servlet-name>
  	<url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteWishlist</servlet-name>
  	<url-pattern>/DeleteWishlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCart</servlet-name>
  	<url-pattern>/DeleteCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>trackorder</servlet-name>
  	<url-pattern>/trackorder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacebookLoginServlet</servlet-name>
  	<url-pattern>/FacebookLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacebookCallbackServlet</servlet-name>
  	<url-pattern>/FacebookCallbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeam</servlet-name>
  	<url-pattern>/AddTeam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmOrder</servlet-name>
  	<url-pattern>/ConfirmOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditUserAddress</servlet-name>
  	<url-pattern>/EditUserAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddReview</servlet-name>
  	<url-pattern>/AddReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownlodeOrder</servlet-name>
  	<url-pattern>/DownlodeOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReplayMessage</servlet-name>
  	<url-pattern>/ReplayMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSlider</servlet-name>
  	<url-pattern>/AddSlider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSlider</servlet-name>
  	<url-pattern>/DeleteSlider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>applyDiscount</servlet-name>
  	<url-pattern>/applyDiscount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCoupon</servlet-name>
  	<url-pattern>/AddCoupon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletecoupon</servlet-name>
  	<url-pattern>/deletecoupon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CouponDelete</servlet-name>
  	<url-pattern>/CouponDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>invoice</servlet-name>
  	<url-pattern>/invoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PdfConverter</servlet-name>
  	<url-pattern>/PdfConverter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProduct</servlet-name>
  	<url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProduct</servlet-name>
  	<url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCategory</servlet-name>
  	<url-pattern>/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditCategory</servlet-name>
  	<url-pattern>/EditCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteReview</servlet-name>
  	<url-pattern>/DeleteReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTeam</servlet-name>
  	<url-pattern>/DeleteTeam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditTeam</servlet-name>
  	<url-pattern>/EditTeam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditSlider</servlet-name>
  	<url-pattern>/EditSlider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminReset</servlet-name>
  	<url-pattern>/AdminReset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminValidateOtp</servlet-name>
  	<url-pattern>/AdminValidateOtp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminNewPassword</servlet-name>
  	<url-pattern>/AdminNewPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateprofile</servlet-name>
  	<url-pattern>/updateprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderFilter</servlet-name>
  	<url-pattern>/OrderFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderNumber</servlet-name>
  	<url-pattern>/OrderNumber</url-pattern>
  </servlet-mapping>
</web-app>
